{% extends 'blog/base.html' %}
{% block content %}
<section class="post">
    {% if user.is_authenticated %}
    <a class="btn btn-default edit" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}
    {% if post.published_date %}
    <div class="date">Опубликовано: {{ post.published_date }}</div>
    {% endif %}
    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
    <p>
    {{ post.text|linebreaksbr }}
    </p>
</section>
{% endblock %}
